* {
	font-weight: 450;
	font-family: "roboto";
}

.div-top-slide {
	width: 90% !important;
	margin: 2em auto 0 auto;
}

.div-top-slide .div-top-slide-column {
	width: 50% !important;
	margin: 0 auto;
	text-align: center;
}

.div-top-slide .div-top-slide-column p {
	font-size: 1.6em;
}

.div-body {
	width: 70%;
	margin: 4% auto 0 auto;
}

.div-body p {
	text-align: justify;
	font-size: 1.6em;
}

.div-body-logos-container {
	display: flex;
	justify-content: space-around;
	margin: 4em auto;
}

.div-body-logos-container-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-body-top-text {
	text-align: center !important;
}

.div-body-logos-container-item-text {
	font-size: 1.3em !important;
}
