.div-btn-votation {
	margin-left: auto !important;
}

.navbar {
	background-color: #98d8aa !important;
	height: 4em;
}

.navbar-brand {
	color: #fff !important;
	background-color: #f7aa4a;
	padding: 0.6em 2em !important;
	border-radius: 20px;
}

.nav-item-who {
	color: #fff !important;
	background-color: #fe646f;
	padding: 0.6em 2em !important;
	margin-right: 1em;
}

.nav-item-how {
	color: #fff !important;
	background-color: #1895ff;
	padding: 0.6em 2em !important;
}

.nav-item-how-init {
	color: #fff !important;
	background-color: #5c8984;
	padding: 0.6em 2em !important;
}

.nav-link {
	border-radius: 20px;
	font-size: 15px !important;
}

.nav-link:hover {
	background-color: #fff;
	color: #000 !important;
	border: 1px solid #000;
}
